body {
  background: rebeccapurple;
}

.container {
  padding: 3%;
  padding-top: 0;
}

.viewers {
  color: #F5F5F5;
  display: inline-block;
}

.name {
  height: 20px;
  overflow: hidden;
}


.title, .message {
  text-align: center;
  color: #F5F5F5;
}

.searchInput {
  padding-right: 0
}

.searchButton {
  padding-left: 0
}

/*********************/
/********Index*******/
/*********************/

th:nth-child(4n+1), td:nth-child(4n+1) {
  text-align: center
}

table {
  border-collapse: collapse;
}

.share {
  width: 100%;
}

.destroy {
  width: 40px;
  margin: 0;
  padding: 10%;
}

/*********************/
/********Browse*******/
/*********************/

.logoCover {
  width: 60px;
  height: 60px;
}

.gameCover:hover {
  opacity: .8
}

.add {
  margin-bottom: 0
}
