<html>
{{template "header.tmpl.html"}}
<body>
  <div class="container">
    <h1 class='title'>Favorite Streams</h1>
    {{ $length := len .streams }}
    {{if eq $length 0}}
    <p class='message'>
      No streams added yet. Please browse or search for your favorite streams!
    </p>
    {{else}}
      <table>
        <thead>
          <tr>
            <th width='150'>Stream</th>
            <th width='100'>Live</th>
            <th width='350'>Name</th>
            <th width='400'>Game</th>
            <th width='100'>Remove</th>
          </tr>
        </thead>
        <tbody>
          {{range $key, $stream := .streams}}
            <tr>
              {{ $length := len $stream.Logo }}
              {{if eq $length 0}}
              <td>
                <a href={{$stream.URL}}>
                  <img class='logoCover' src="http://blogs-images.forbes.com/insertcoin/files/2013/02/twitch.jpg" alt={{$stream.Name}} />
                </a>
              </td>
              {{else}}
              <td>
                <a href={{$stream.URL}}>
                  <img class='logoCover' src={{$stream.Logo}} alt={{$stream.Name}} />
                </a>
              </td>
              {{end}}
              <td>
                <div class={{ print $stream.Name "Status"}} style='color: #F04124; font-size: 200%'>
                  &#9679;
                </div>
              </td>
              <td class="streamName">{{$stream.Name}}</td>
              <td>
                <a href={{print "/browse/" $stream.Game}}>
                {{$stream.Game}}
                </a>
              </td>
              <td>
                <form action="/removeStream" method="post">
                  <input type="hidden" name="name" value={{$stream.Name}}>
                  <input type="submit" class='button alert destroy' name="name" value="X">
                </form>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
      <div class="name">
      </div>
      <div class="row">
        <div class="small-3 small-centered columns">
          <a href='#' type="button" data-reveal-id="myModal" class="button warning share" name="button">Share List</a>
        </div>
      </div>
    {{end}}
  </div>
  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Email</h2>
    <form action="/mail" method="post">
      <input type="email" name="from" placeholder="from: foo@bar.com">
      <input type="email" name="to" placeholder="to: bar@foo.com">
      <input type="text" name="subject" placeholder="subject: Check it out!" value="My Favorite Streams">
      <textarea name="body" rows="8" cols="40" placeholder="Additional Comments..."></textarea>
      <div class="row">
        <div class="small-3 small-centered">
          <input type="submit" class="button warning" value="Send">
        </div>
      </div>
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  {{template "footer.tmpl.html"}}
</body>
</html>
